//
// components.scss
//

//Buttons
@each $name,
$value in $colors {
    .btn-#{$name} {
        background-color: #{$value} !important;
        border: 1px solid #{$value} !important;
        color: $white !important;
        box-shadow: 0 3px 5px 0 rgba($value, 0.3);
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: darken($value, 10%) !important;
            border-color: darken($value, 10%) !important;
            color: $white !important;
        }
    }

    .btn-outline-#{$name} {
        border: 1px solid #{$value};
        color: #{$value};
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus, &:not(:disabled):not(.disabled):active{
            background-color: #{$value};
            border-color: #{$value};
            color: $white !important;
            box-shadow: 0 3px 5px 0 rgba($value, 0.3);
        }
    }
    
    .btn-link-#{$name} {
        color: #{$value};
        &:hover, &:focus, &:active, &.active, &.focus, &:not(:disabled):not(.disabled):active{ 
            color: darken($value, 10%) !important;
        }
    }
}
.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
    &:focus {
        box-shadow: none !important;
    }
    &.btn-sm {
        padding: 7px 16px;
        font-size: 10px;
    }
    &.btn-lg {
        padding: 14px 30px;
        font-size: 16px;
    } 
    &.searchbtn {
        padding: 6px 20px;
    }
    &.btn-pills {
        border-radius: 30px;
    }
    &.btn-light {
        color: $dark !important;
        background: $light !important;
        border: 1px solid $gray-300 !important;
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: darken($light, 2%) !important;
            color: $dark; 
        }
    }    
    &.btn-outline-light {
        border: 1px solid $gray-300 !important;
        color: $dark !important;
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: $light !important;
            color: $dark !important;
        }
    }
    &.btn-icon {
        display: inline-block;
        height: 35px;
        text-align: center;
        width: 35px;
        line-height: 32px;
        padding: 0;
    }
}

button:not(:disabled) {
    outline: none;
    border: 0;
}
//Shadow 
.shadow {
    box-shadow: $shadow !important;
}
.shadow-lg {
    box-shadow: $shadow-lg !important;
}
.shadow-md {
    box-shadow: $shadow-md !important;
}
.shadow-img {
    box-shadow: 0 4px 3px rgba($dark,.2);
}
//Badges
@each $name,
$value in $colors {
    .badge-#{$name} {
        background-color: #{$value} !important;
        color: $white !important;
    }

    .badge-outline-#{$name} {
        background-color: transparent !important;
        color: #{$value} !important;
        border: 1px solid #{$value} !important;
    }
}
.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 10px;
    &.badge-light {
        color: $dark !important;
        background-color: $light !important;
    }

    &.badge-outline-light {
        color: $dark !important;
        border: 1px solid darken($light, 20%) !important;
        background-color: transparent !important;
    }

    &.badge-pill {
        border-radius: 20px;
    }
    &:focus, &.focus {
        box-shadow: none !important;
    }
}

//Dropdowns
@each $name,
$value in $colors {
    .dropdown-#{$name} {
        .dropdown-menu {
            .dropdown-item {
                &:hover,
                &.active,
                &:active,
                &.focus,
                &:focus {
                    background-color: transparent;
                    color: #{$value} !important;
                }
            }
        }
    }
}

.btn-group {
    .dropdown-toggle {
        &:after {
            content: "";
            position: relative;
            right: -4px;
            top: -2px;
            border: solid $white;
            border-radius: 0.5px;
            border-width: 0 2px 2px 0;
            padding: 3px;
            transform: rotate(45deg);
            margin-left: 0;
            vertical-align: 0;
        }
    }
    .dropdown-menu {
        margin-top: 10px;
        border: 0;
        border-radius: 5px;
        box-shadow: $shadow;
        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 45px;
            box-sizing: border-box;
            border: 7px solid $gray-700;
            border-radius: 0.5px;
            border-color: transparent transparent $white $white;
            transform-origin: 0 0;
            transform: rotate(135deg);
            box-shadow: -2px 2px 2px -1px rgba($black, 0.15);
        }
    }
}

//Alert
@each $name,
$value in $colors {
    .alert-#{$name} {
        background-color: lighten($value, 4%);
        color: $white;
        border-color: $value;
        .alert-link {
            color: darken($value, 15%);
        }
    }
    .alert-outline-#{$name} {
        background-color: $white;
        color: $value;
        border-color: $value;
    }
}
.alert {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 13px;
    &.alert-light {
        background-color: $light;
        color: $dark;
        border-color: $gray-300;
    }
    &.alert-dismissible {
        padding-right: 30px;
        .btn-close {
            top: 10px;
            right: 10px;
            padding: 0px;
        }
    }
    &.alert-pills {
        border-radius: 30px;
        display: inline-block;
        .content {
            font-weight: 600;
        }
    }
}

//Feather Icon
.fea {
    stroke-width: 1.8;
    &.icon-sm {
        height: 16px;
        width: 16px;
    }
    &.icon-ex-md {
        height: 20px;
        width: 20px;
    }
    &.icon-m-md {
        height: 28px;
        width: 28px;
    }
    &.icon-md {
        height: 35px;
        width: 35px;
    }
    &.icon-lg {
        height: 42px;
        width: 42px;
    }
    &.icon-ex-lg {
        height: 52px;
        width: 52px;
    }
}

//Avatar
.avatar {
    &.avatar-ex-sm{
        max-height: 30px;
    }
    &.avatar-md-sm{
        height: 45px;
        width: 45px;
    }
    &.avatar-small{
        height: 70px;
        width: 70px;
    }
    &.avatar-medium{
        height: 110px;
        width: 110px;
    }
    &.avatar-large{
        height: 140px;
        width: 140px;
    }
    &.avatar-ex-large{
        height: 180px;
        width: 180px;
    }
}

// Loader
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, $white, $white);
    z-index: 9999999;
    #status {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .spinner {
            width: 40px;
            height: 40px;
            margin: 0px auto;
            background-color: $primary;
            animation: sk-scaleout 1.3s infinite ease-in-out;
        }
    }
}
  
@keyframes sk-scaleout {
    0% { 
        transform: scale(0);
    } 100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

//Pagination
.pagination {    
    line-height: 20px;
    font-size: 13px;
    li {
        margin: auto 2px;
        &:first-child a {
            border-left-width: 1px;
            border-radius: 30px 5px 5px 30px;
        } 
        &:last-child a {
            border-radius: 5px 30px 30px 5px;
        }
        a {
            text-decoration: none;
            &:hover {
                color: $white !important;
                background: $primary !important;
                border-color: $primary !important;
            }
        }
    }              
    .active a {
        background: $primary !important;
        border-color: $primary !important;
        cursor: not-allowed;
    }
}

//Breadcrumb
.page-next-level {
    .page-next {
        letter-spacing: 0.5px;
        li {
            &:after {
                content: "\f0142";
                font-family: 'Material Design Icons';
            }
            &:last-child {
                margin-right: 0 !important;
                &:after {
                    display: none;
                }
            } 
            &.icon-light {
                &:after {
                    color: $white;
                }
            }      
            a, span {        
                font-size: 14px;
                transition: all 0.5s ease;
                font-weight: 600;
            }
            a {
                &:hover {
                    color: $primary !important;
                }
            }
            span {
                &:last-child {
                    padding-right: 0px !important;
                }
            }
        }
    }
}

//FAQ
.accordion {
    .accordion-item {
        overflow: hidden;
        .accordion-button {
            font-weight: 600;
            text-align: left;
            &:focus {
                box-shadow: none;
            }
            &:before {
                content: '\F0143';
                display: block;
                font-family: 'Material Design Icons';
                font-size: 16px;
                color: $primary;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.5s ease;
            }
            &.collapsed {
                background-color: $white;
                color: $dark !important;
                transition: all 0.5s;
                &:before {
                    top: 15px;
                    transform: rotate(180deg);
                    color: $dark !important;
                }
            }
            &:not(.collapsed) {
                color: $primary;
            }
            &:after {
                display: none;
            }
        }
    }
}

//Nav tabs
.nav-pills {
    background: lighten($gray-100, 5%);
    .nav-link{
        color: $muted !important;
        transition: all 0.5s ease;
        &:hover {
            background: $light;
        }
        &.active {
            background: $primary;
            color: $white !important;
        }
    }
}

//Map
.map {
    line-height: 0;
    &.map-gray {
        filter: grayscale(100%);
        iframe {
            height: 100vh;
        }
    }
    iframe {
        width: 100%;
        height: 400px;
    }
}

//Progressbar
.progress-box {
    .title {
        font-size: 13px !important;
    }
    .progress {
        height: 8px;
        overflow: visible;
        .progress-bar {
            animation: animate-positive 3s !important;
            overflow: visible !important;
            border-radius: 5px;
        }
        .progress-value {
            position: absolute;
            top: -27px;
            right: -15px;
            font-size: 13px;
        }
    }
    @keyframes animate-positive {
        0% {
            width: 0;
        }
    }
}

//Form
.form-label,
.form-check-label {
    font-size: 14px;
    font-weight: 600;
}
.form-control {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid $gray-400;
    color: $dark;
    height: 40px; 
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
    &:focus, 
    &.active {
        border-color: $primary !important;
        box-shadow: none;
    }
} 
textarea {
    height: 120px !important;
    &.form-control {
        line-height: 25px;
    }
}

.form-check-input {
    &:checked {
        background-color: $primary;
        border: $primary;
    }
    &:focus {
        box-shadow: none;
    }
}

//Subscribe form
.subcribe-form {
    input {
        padding: 14px 20px;
        width: 100%;
        color: $dark !important;
        border: none;
        outline: none !important;
        padding-right: 130px;
        background-color: rgba($white, 0.8);
    }
    button {
        position: absolute;
        top: 6px;
        right: 6px;
        outline: none !important;
    }
}

.blockquote {
    font-size: 18px;
    &:before {
        content: '"';
        position: absolute;
        top: -30%;
        left: 10px;
        color: $gray-300;
        font-size: 160px;
        z-index: -1;
        opacity: 0.4;
    }
}

//Social icons
.social-icon {
    li {
        a {
            color: $dark;
            border: 1px solid $dark;
            display: inline-block;
            height: 32px;
            text-align: center;
            font-size: 15px;
            width: 32px;
            line-height: 30px;
            transition: all 0.4s ease;
            overflow: hidden;
            position: relative;
            .fea-social {
                stroke-width: 2;
            }
            &:hover {
                background-color: $primary;
                border-color: $primary !important;
                color: $white !important;
                .fea-social {
                    fill: darken($primary, 5%);
                }
            }
        }
    }
    &.social {
        li {
            a {
                color: $gray-500;
                border-color: $gray-500;
            }
        }
    }
}

//back to top
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99; 
    width: 33px;
    height: 33px;
    line-height: 33px;
    background: $light;
    color: $dark;
    box-shadow: $shadow;
    display: none;
    transition: all 0.5s ease; 
    &:hover {
        background-color: $primary;
        color: $white;
    }
}

//back-to-home
.back-to-home {
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 1;
    a {
        width: 40px;
        height: 40px;
        line-height: 38px;
        background: $primary;
        .fea {
            stroke-width: 2;
        }
    }
}

//hover-transform
.hover-transform {
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.05);
    }
}
@media (min-width: 1024px) {
    .padding-ten {
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media (min-width: 1025px) {
    .padding-ten {
        padding-left: 10%;
        padding-right: 10%;
    }
}